<nav class="navbar navbar-light bg-light nav-styling" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>


<div class="row">

  <div class="col-md-5">

    <div class="card">
      <h5 class="card-header">Add new project</h5>
      <div class="card-body">
        <form action="/add-project" method="post">
          <div class="form-group">
            <label for="title">Project title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <button type="submit" class="btn btn-primary">Create Project</button>
        </form>
      </div>
    </div>

    <div class="all_projects">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @all_projects.each do |project| %>
          <tr>
            <td><a href="/projects/<%= project.id %>"><%= project.title %></a></td>
            <td><a href="/projects/<%= project.id %>" class="btn btn-secondary btn-sm">Edit</a></td>
          </tr>

          <% end %>

        </tbody>
      </table>

    </div>


  </div>

  <div class="col-md-1">

  </div>

  <div class="col-md-5">

    <div class="card">
      <h5 class="card-header">Add new voluteer</h5>
      <div class="card-body">
        <form action="/add-volunteer" method="post">
          <div class="form-group">
            <label for="name">Volunteer name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <button type="submit" class="btn btn-primary">Create Volunteer</button>
        </form>
      </div>
    </div>

  <div class="all_volunteers">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Project assigned?</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @all_volunteers.each do |volunteer| %>
        <tr>
          <td><%= volunteer.name %></td>
          <td><%= projects_staus = volunteer.project_id != 0 ? '<strong><em>yes</em></strong>' : '<em>no</em>'%></td>
          <td><a href="/volunteers/<%= volunteer.id %>/delete" class="trash"><i class="far fa-trash-alt"></i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>




</div>
